@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding: 20px;
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* MODO ESCURO */
.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .country {
  background-color: #1e1e1e;
  color: white;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
}

.dark-mode .details-button {
  background-color: #ff4c4c;
}

.dark-mode .details-button:hover {
  background-color: #e04343;
}

/* Cabeçalho e Filtros */
.subHeader {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

/* Campos de Busca */
.searchForm input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  color: black;
}

.dark-mode .searchForm input {
  background-color: #333;
  color: white;
  border: 1px solid #777;
}

/* Filtros */
.searchFilters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Lista de países */
.allCountries {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Cartão de país */
.country {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 15px;
  background-color: white;
  gap: 10px;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.country:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* Estilização do botão de detalhes */
.details-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.details-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.details-button:active {
  transform: scale(0.95);
}

/* Botão de alternância do modo escuro */
.theme-button {
  position: fixed;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.3s ease-in-out;
}

.theme-button:hover {
  transform: scale(1.2);
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  font-size: 16px;
  background-color: #f5f5f5;
  color: #333;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2); /* Sombreamento na parte superior */
  position: relative;
  bottom: 0;
  width: 100%;
  left: -20px;
}

/* Modo escuro para o rodapé */
.dark-mode footer {
  background-color: #1e1e1e;
  color: white;
  box-shadow: 0px -4px 8px rgba(255, 255, 255, 0.2); /* Ajusta o sombreamento para modo escuro */
}

